@use "../../presets" as *;
@use "../../mixins" as *;

.header {
  background-color: $color-primary;
  color: $color-light;
  background-image: url(../img/img-header.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
  padding: 150px 0;

  display: grid;
  align-content: center;
}
