@use "../presets" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: $font-main;
  font-size: $font-size;
}

body {
  background-color: $color-light;
  color: $color-gray;
  overflow-y: scroll;
}

h1 {
  font-size: 3.75rem;
  letter-spacing: 0.08em;
  line-height: 1.2em;
  font-weight: 300;
  font-family: $font-header;
}

h2 {
}

a {
  text-decoration: none;
  color: $color-light;
}
